/*
//////////////////////////////////////

global styles

//////////////////////////////////////
*/
body{
    background-color: white;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
a:link {
    text-decoration: none;
    color: black;
  }

a:visited {
    text-decoration: none;
    color: black;

}

a:hover {
    text-decoration: none;
    color: black;

}

a:active {
    text-decoration: none;
    color: black;

}

/*
//////////////////////////////////////

class styles

//////////////////////////////////////
*/
.banner-container{
    width:100%;
    height:70px;
    box-sizing: border-box;
    margin-top: 30px;
}
.banner{
    margin: auto;
    width:80%;
    height:70px;
    display: flex;
    justify-content: space-between;
    font-size: 1.2em;
    
}
.logo {
    height: 70%;
}
.banner-left-logo {   
    font-size: 2rem;
}


.banner-r-b-ul > a > li{
    display: inline;
	white-space: nowrap;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    margin-left: 10px;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    padding-bottom: 10px;
    border-bottom: solid 5px rgb(255, 255, 255);
    border-top: solid 5px rgb(255, 255, 255);
}
.banner-r-b-ul > a:hover >li{
    border-bottom: solid 5px black;
    color: rgb(90, 90, 90);
    cursor: pointer;
}
.content-container{
    width: 100%;
    height: auto;
}
.content{
    margin: auto;
    width:80%;
}
.content-slider{
    margin: auto;
    width:100%;
    background-color: rgb(246,246,246);
    height: auto;
    text-align: center;
    box-sizing: border-box;
    padding-top: 100px;
    padding-bottom: 100px;
    font-size: 2em;
}
.content-box-container{
    width: 100%;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;

}
.photos{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}
.photos:hover{
    transform: scale(1.2);
    border-radius: 10px;    
    cursor: pointer;
}
.c-b-c-boxes{
    width: 16vw;
    height: 13vw;
    text-align: center;
    box-shadow: 0 0 10px 0px grey;
    --padding: 30px;
    margin-top: 30px ;
    margin-right: 30px;
    margin-left: 30px;
}

.footer-container{
    width: 100%;
    height: max-content;
    margin-top: 30px;
}
.footer{
    margin: auto;
    background-color: black;
    color: grey;
    width: 80%;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 2em;
    text-align: center;
}

/*
//////////////////////////////////////

notes.html styles

//////////////////////////////////////
*/
.content-slider-todo{
    margin: auto;
    width:100%;
    background-color: rgb(246,246,246);
    height: max-content;
    text-align: center;
    box-sizing: border-box;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 2em;
}
.todo-containerer{
    width:80%;
    height: max-content;
    margin: auto;
}
.todo-box{
    width:100%;
    height: max-content;
    
}
.todo-box > input {
    width:400px;
    height: 50px;
    font-size: 1.3em;
}
.todo-box > button {
    width:200px;
    height: 55px;
    cursor: pointer;
    font-size: 1.3em;
}
.todo-box-list{
    text-align: left;
    font-size: 1em;
}
.todo-box-list>ul>li{
    margin-top: 5px;
}
.todo-box-list>ul>li>span{
    word-wrap: break-word;
}


.todo-box-list > ul >li > button{
    display:none;
    font-size: 0.6em;
}
.todo-box-list > ul> li:hover > button{
    display: inline;
    cursor: pointer;
}

/*
//////////////////////////////////////

about.html styles

//////////////////////////////////////
*/
.video{
    width: auto;
    height: 200%
}